# Exclude .vscode settings
.vscode/
*.swp

# Exclude compiled binaries
bin/

# Exclude cmake/make files in build
build/Makefile
build/CMakeCache.txt
build/CMakeFiles/
build/cmake_install.cmake
build/fusion

# Exclude build script - this should be created by resources script
build/beagle_armv7

# Exclude test dir
Tests/
